/*=======================================================================*/
/*      Global       */
/*=======================================================================*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html{
    scroll-behavior: smooth;
}

.container{
    padding: 0px 8px;
    margin: auto;
}

.mini-container {
    padding: 0px 8px;
    margin: auto;
    position: relative;
}

.dbl-mini-container {
    margin: auto;
}

#about-me h6, #services h6,#my-work h6,#contact h6{
    font-size: 64px;
    color: #575DFD;
    text-align: center;
    padding: 40px 0px 20px;
    line-height: 100%;
    letter-spacing: 7%;
    font-weight: 100;
    text-transform: capitalize;
    color: #3d3b49;
    z-index: 2;
}

/*=======================================================================*/
/*      Landing Page        */
/*=======================================================================*/


nav .mini-container #logo{
    font-size: 32px;
    text-transform: capitalize;
    color: #575dfd;
    font-weight: 700;
}

nav .mini-container #logo span{
    color: #ECAC19;
}

nav .mini-container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .mini-container::after{
    position: absolute;
    content: '';
    height: 100vh;
    max-height: 812px;
    width: 55vw;
    top: 0;
    left: 50%;
    background-color: #575dfd;
    z-index: -1;
}

nav .mini-container .menu{
    display: flex;
    list-style: none;
}


nav .mini-container ul li{
    margin-left: 20px;
    line-height: 90px;
}

nav .mini-container ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    transition: ease-in-out .4s;
}

nav .mini-container ul li .botton:hover{
    background-color: #b3b6ff;
    color: #ffffff;
}

.menu .botton {
    background-color: white;
    padding:12px 18px ;
    color: #575dfd;
    border-radius: 8px;
}

#landing-page{
    height: 100vh;
    max-height:812px ;
    position: relative;
    overflow: hidden;
}

#landing-page>.mini-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    max-height: 722px;
}

#landing-page>.mini-container .landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing-page>.mini-container img{
    height: calc(100vh-90px);
    max-height: 722px;
    align-self:end;
}
#landing-page nav #togeler{
    display: none;
}

.landing p{
    text-overflow: ellipsis;
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
}

.landing p span {
    color: #ECAC19;
}

.landing h4 {
    font-size: 48px;
    text-transform: capitalize;
    color: #ECAC19;
    line-height: 64px;
}

.landing .icons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.landing .icons a{
    padding: 30px 4px;
    text-decoration: none;
}

.landing .icons a i{
    font-size: 48px;
    color:  rgb(216, 216, 216);
    transition: ease-in-out .3s;
}

.landing .icons .fa-square-facebook:hover{
    color: #1877F2;
}
.landing .icons .fa-linkedin:hover{
    color: #0077B5;
}
.landing .icons .fa-square-github:hover{
    color: #000000;
}

#landing-page .lines{
    width: 160px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#landing-page .lines hr{
    border-style: dashed;
    border-top: none;
    border-right:none ;
    border-left:none ;
    border-color:  rgb(247, 247, 247);
    margin-bottom: 6px;
    border-radius: 2px;
}

/*=======================================================================*/
/*      About Me        */
/*=======================================================================*/


#about-me {
       margin: auto;
       padding-bottom: 50px;
       
}


#about-me p{
    display: block;
    margin: auto; 
    font-size: 18px;
    padding-bottom: 30px;
    text-transform: capitalize;
}

#about-me .dbl-mini-container .about-me a{
    display: block;
    transition: ease-in-out .4s;
    text-decoration: none;
    padding: 12px 18px;
    background-color:#575dfd;
    border-radius: 8px;
    color: #ffffff;
    width: fit-content;
    margin: auto;
    text-transform: capitalize;
}

#about-me .dbl-mini-container .about-me a span{
    font-weight: bold;
    text-transform: uppercase;
}

#about-me .dbl-mini-container .about-me a:hover{
    background-color: #030895;
}

#about-me div hr{
    border: none;
    border-bottom:1px  #000000 dashed;
    margin-bottom: 12px;
    height: 0px;
}

#about-me .land-about {
    position: absolute;
    right: 0px;
    top: -60px;
    width: 150px;
    height: 120px;
    overflow: hidden;
    z-index: 10;
}

#about-me .detail {
    background-color: white; 
}

.dbl-mini-container .detail a{
    display: block;
    width: fit-content;
    background-color: #575dfd;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    outline: none;
    margin: auto;
    text-transform: capitalize;
    margin: 32px auto 52px;
}


/*=======================================================================*/
/*      Services        */
/*=======================================================================*/


#services{
    background-color: rgb(247, 247, 247);
}

#services .cards {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 50px;
}

#services .cards .card img{
    width: 100%;
    max-width: 360px;
}

#services .cards .card{
    text-align: center;
}

#services .cards .card h4{
    margin: 12px auto 8px;
    text-transform: capitalize;
    font-size: 20px;
}

#services .cards .card p{
    text-transform: capitalize;
    font-size: 16px;
}


/*=======================================================================*/
/*      My Mork        */
/*=======================================================================*/


#my-work{
    position: relative;
    margin: auto;
}
#my-work::before{
    content: '';
    position: absolute;
    background-color: #575DFD;
    top: 0px;
    width: 100%;
    height: 180px;
    border-top-left-radius: 90px;
    z-index: -1;
}

#my-work::after{
    content: '';
    position: absolute;
    background-color:#ECAC19;
    opacity: 0.8;
    top: 2px;
    left: 2px;
    width:80px;
    height:80px;
    border-radius: 40px;
}

#my-work .my-projects {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 50px;
}

#my-work .mini-container img{
    width: 100%;
    max-width: 360px;
}

#my-work ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 32px auto;
    margin-bottom: 52px;
}

#my-work h6{
    color: #ffffff;
}

#my-work ul a{
    color: #575dfd;
    border: 1px #575dfd solid;
    padding: 12px 18px;
    margin: 0px 8px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    transition: ease-in-out .4s;
}

#my-work ul a:hover{
    background-color: #575dfd;
    color: #ffffff;
}

#my-work ul .active{
    background-color: #575dfd;
    color: white;
    padding: 12px 18px;
    margin: 0px 8px;
    border-radius: 8px;
    text-decoration: none;
} 

#my-work .lines hr{
    border-style: dashed;
    border-top: none;
    border-right:none ;
    border-left:none ;
    border-color:  rgb(214, 214, 214);
}

#my-work .lines{
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/*=======================================================================*/
/*      Contact        */
/*=======================================================================*/

#contact{
    background-color: rgb(247, 247, 247);
    padding-top: 60px;
    padding-bottom: 60px;
}

#contact .dbl-mini-container{
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: space-between;
}

#contact .dbl-mini-container h6{
    text-align: center;
    width: 50%;
    position: relative;
    color: #575DFD;
    padding: 0px;

}

#contact .dbl-mini-container h6::after{
    content: '';
    position: absolute;
    background-color:#ffffff;
    width:340px;
    height:340px;
    border-radius: 170px;
    top: 50%;
    left:-50px;
    transform: translateY(-50%);
    z-index: -1;
}

#contact .dbl-mini-container form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

#contact .dbl-mini-container form input ,textarea{
    padding: 12px 18px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 16px;
    resize: none;
}


#contact .dbl-mini-container form input[type = submit]{
    width: fit-content;
    padding:12px 18px;
    background-color: #575dfd;
    color: white;
    border: none;
    transition: ease-in-out .4s;
    font-size: 16px;
    
}

#contact .dbl-mini-container form input:placeholder-shown{
    text-transform: capitalize;
}

#contact .dbl-mini-container form textarea:placeholder-shown{
    text-transform: capitalize;
}

#contact .dbl-mini-container form input[type = submit]:hover{
    background-color: #030895;
}


/*=======================================================================*/
/*   Footer   */
/*=======================================================================*/


#footer{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    position: relative;
}

#footer .icons::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #575dfd;
    bottom: 90px;
    left: 0;
}

#footer .icons{
    display: flex;
    justify-content: center;
}

#footer .icons a{
    padding: 30px 4px;
    text-decoration: none;
}

#footer .icons a i{
    font-size: 32px;
    color:  rgb(216, 216, 216);
    transition: ease-in-out .3s;
}

#footer .icons .fa-square-facebook:hover{
    color: #1877F2;
}
#footer .icons .fa-linkedin:hover{
    color: #0077B5;
}
#footer .icons .fa-square-github:hover{
    color: #000000;
}

/*=======================================================================*/
/*   Media Query  */
/*=======================================================================*/


/*   Min Width = 1401px  */
@media (min-width:1401px) {
   
    .container{
        width: 1370px;
    }

    .mini-container{
        width: 1240px;
    }

    .dbl-mini-container{
        width:640px ;
    }

    section{
        margin: auto;
        max-width:1720px ;
    }
    
}


/*   Max Width = 1400px  */
@media (max-width:1400px) {

    .mini-container{
        width: 1100px;
    }

    .container{
        width: 1170px;
    }

    .dbl-mini-container{
        width:920px ;
    }
}


/*   Max Width = 1200px  */
@media (max-width:1200px) {
    .container{
        width: 970px;
    }
    .dbl-mini-container{
        width: 750px;
    }
    .mini-container{
        width: 920px;
    }
}


/*   Max Width = 991px  */
@media (max-width:991px) {
    .container{
        width: 750px; 
    }

    .dbl-mini-container{
        width: 640px;
    }

    .mini-container{
        width: 720px;
    }

    #about-me h6 ,#services h6, #my-work h6, #contact h6 {
        font-size: 54px;
    }
    
    #landing-page>.mini-container {
        justify-content: space-between;
    }

    #services .cards {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        justify-content: space-between;
        gap: 12px;
        padding-bottom: 50px;
    }

    nav .mini-container .menu{
        display:none;
    }

    #my-work .my-projects {
            grid-template-columns: repeat(2 , 1fr);
    }

    #landing-page nav ul{
        font-size: .6rem;
    }

    #landing-page nav #togeler{
        display: none;
    }
    
    #landing-page nav .menu-bar-container {
        height: 100%;
        width: 30px;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .bar , .bar::before,.bar::after {
        display: block;
        height: 3px;
        width: 30px;
        position: absolute;
        background-color: #ECAC19;
        transition:ease-in-out .3s;
        border-radius: 2px;
    }
    
    .bar::after {
        content: '';
        margin-top: 8px;
        width: 50%;
        margin-left: 50%;
    }
    
    .bar::before {
        content: '';
        margin-top: -8px;
        width: 30%;
    }
    
    #togeler:checked + .menu-bar-container .bar::before{
        margin-top: 0px;
        width: 100%;
        transform: rotate(405deg);
    }
    
    #togeler:checked + .menu-bar-container .bar::after{
        margin-top: 0px;
        width: 100%;
        transform: rotate(-405deg);
        margin-left: 0;
    }
    
    #togeler:checked + .menu-bar-container .bar{
        background-color: rgba(255 ,  255, 255, 0);
    }
    
    #togeler:checked ~ .menu {
        display: block;
        position: absolute;
        width: 80Vw;
        background-color: #575dfd;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        text-align: center;
    }

    #togeler:checked ~ .menu li{
        width: 100%;
        height: 80px;
        border-bottom:1px solid #e3e3e3;
        margin: auto;
        line-height: 70px;
        transition: ease-in-out 1s;
    }

    #togeler:checked ~ .menu li:last-of-type{
        border-bottom: none;
    }

    nav .mini-container::after{
        position: absolute;
        content: '';
        height: 100vh;
        width: 50vw;
        top: 0;
        left: 50%;
        background-color: #575dfd;
        z-index: -1;
    }
    
}


/*   Max Width = 768px  */
@media (max-width:768px) {

    .container{
        width: 100%;
    }  

    .mini-container{
        padding: auto 8px;
    }

    #about-me h6 ,#services h6, #my-work h6, #contact h6 {
        font-size: 42px;
    }
    #about-me{
        width: 95%;
        margin: auto;
    }
    #landing-page>.mini-container {
        justify-content: space-evenly;
    }

    #services .cards {
        grid-template-columns: repeat(1 , 1fr);
        justify-content: space-evenly;
    }

    #my-work .my-projects {
        grid-template-columns: repeat(1 , 1fr);
        width: fit-content;
        align-items: center;
    }

    #landing-page .landing p{
        font-size: 24px;
    }

    #landing-page .landing h4{
        font-size: 32px;
        padding: 8px auto;
    }

    #landing-page .lines{
        width: 80px;
    }

    #footer{
        flex-direction:column-reverse;
        padding: 0px;
    }

    #footer .icons a{
        padding: 18px 4px 0px;
        font-size: 32px;
    }

    #footer p{
        padding-top: 0px;
        padding-bottom: 18px;
    }

    #my-work .mini-container {
        grid-template-columns: repeat(1 , 1fr);
        justify-content: space-evenly;
    }

    .dbl-mini-container,
    .mini-container {
        width: 100%;
    }

    #landing-page .mini-container img{
        display: none;
    }

    #contact .dbl-mini-container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #contact .dbl-mini-container h6::after {
        display: none;
    }

    #contact .dbl-mini-container h6{
        margin-bottom: 40px;
    }
   
}